node_modules
*.csv
*.log
*.env
dist
build
*.rar
*.zip
.DS_Store
*.xlsx
*.docx
*.pdf
*.exe
*.dll
*.doc
*.txt
!requirements.txt

# Python virtual environments
venv/
.venv/
env/

# Python cache
__pycache__/
*.py[cod]
