@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #fafafa;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--foreground);
    --foreground: var(--background);
  }
}

body {
  background: #000000;
  color: #fafafa;
  font-family: Arial, Helvetica, sans-serif;
}
