.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    border: 2px solid black;
    padding: 20px;
    gap: 10px;
}

h1 {
    margin: 0;
}

main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.exportar-usuarios {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 300px;
    border: 2px solid black;
    padding: 20px;
}